.container-button-home {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    width: 30%;
}

.logo-cecyte-home {
    border-radius: 5px 90px;
    border: 1px solid #9dc8a8;
    box-shadow: -1px 4px 13px 6px #888888;
    height: 30%;
    padding: 10px;
    width: 30%;
}