input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.modal-content {
    width: 25%;
    margin: auto;
}

.imgcontainer {
    height: 100px;
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.input-container {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.icon {
    padding: 10px;
    background: #04AA6D;
    color: white;
    min-width: 50px;
    text-align: center;
}

.input-field {
    width: 100%;
    padding: 10px;
    outline: none;
}

.input-field:focus {
    border: 2px solid #04AA6D;
}

.avatar {
    color: #04AA6D;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.wrapper {
    height: 80vh !important;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.logincontainer {
    width: 100%;
}

@media screen and (min-width: 200px) {
    .modal-content {
        width: 100%;
    }
}

@media screen and (min-width: 800px) {
    .modal-content {
        width: 50%;
    }
}

@media screen and (min-width: 1400px) {
    .modal-content {
        width: 25%;
    }
}