body {
    background-color: #9dc8a8;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    padding: 16px;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

button {
    background-color: #04AA6D;
    border: none;
    color: white;
    cursor: pointer;
    margin: 8px 0;
    padding: 14px 20px;
    width: 100%;
}

.container-button-home {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    width: 30%;
}

.label {
    font-size: small;
    font-family: sans-serif;
}

.imgcontainer {
    height: 100px;
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

.avatar {
    color: #04AA6D;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.input-container select {
    margin: auto;
}

.wrapper {
    height: 80vh !important;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.div-container {
    width: 100%;
}

.icon-actions {
    color: #04AA6D;
    cursor: pointer;
}

.modal-content {
    width: 25%;
    margin: auto;
}

@media screen and (min-width: 200px) {
    .modal-content {
        width: 100%;
    }
}

@media screen and (min-width: 800px) {
    .modal-content {
        width: 50%;
    }
}

@media screen and (min-width: 1400px) {
    .modal-content {
        width: 25%;
    }
}